<div class="menu-container menu-bg-color position-relative">
  <div class="container">
    <div class="row">
      <div [routerLink]="['/']" class="col-auto cursor-pointer">
        <div class="menu-logo-container">
          <app-menu-logo></app-menu-logo>
        </div>
      </div>
      <div class="col"></div>
      <div class="col-auto d-flex align-items-center">
        <button class="burger-menu-container cursor-pointer not-selectable">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <div
          class="
            mobile-menu-dropdown
            menu-bg-color
            mobile-menu-side-down-animation
          "
        >
          <ng-container *ngFor="let menuItem of menuItems">
            <a
              [routerLink]="menuItem?.route"
              class="
                mobile-menu-dropdown-item
                link-button
                d-flex
                justify-content-center
                align-items-center
                not-selectable
              "
            >
              <span class="link-text">{{ menuItem.description }}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
